.review {
	&__new {
		display: flex;
		flex-direction: column;
	}

	&__leave {
		margin-top: 10px;
		font-size: 20px;
		font-weight: 500;
	}

	&__textarea {
		margin-top: 10px;
		width: 40%;
		height: 100px;
	}

	&__button {
		width: 150px;
		padding: 10px 20px;
		border-radius: 4px;
		margin-top: 10px;
		background-color: rgb(228, 100, 100);

		&:hover {
			transform: scale(1.1);
			background-color: beige;
		}
	}

	&__block-list {
		width: 200px;
		height: 200px;
	}
}
