.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 150px;
	background-color: rgb(227, 233, 226);

	&__gallery {
		display: flex;
		justify-content: space-around;
		width: 80%;
		
	}

	&__picture-wrapper {
		width: 100px;

	}

	&__picture {
		max-width: 100%;

		&:hover {
			transform: scale(1.2);
		}
	}

	&__content {
		margin-top: 6px;
	}

	&__icon {
		margin-left: 5px;
		font-size: 18px;
		color: black;

		&:hover {
			text-decoration: underline;
			color: rgb(44, 190, 81);
		}
	}

	// &__author {
	// 	margin: auto;
	// }
}
