@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/aboutMe/aboutMe';
@import '../components/main/main';
@import '../components/catalogue/catalogue';
@import '../components//reviews/rewiews';

body {
	margin: 0;
}

.app {
	position: relative;
}

.main-app-block {
	margin: auto;
	padding-top: 32px;
	max-width: 1280px;
	min-width: 320px;

	@media (min-width: 769px) {
		padding-top: 72px;
	}
}
