.headerWrapper{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	&__title {
		margin-left: 5%;
	}

	&__nav {
		width: 40%;
		margin-right: 5%;
	}

	&__list {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}

	&__list-item {
		list-style-type: none;
	}
}

.link {
	text-decoration: none;
	color: black;

	&:hover{
		text-decoration: underline;
		color: rgb(44, 190, 81);
	}
}

