.card {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 230px;
	height: 370px;
	background-color: white;
	border-radius: 5px;
	// border: 1px solid gray;

	&:hover {
		box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .05);
	}

	&__title {
		margin: 0;
		height: 60px;
		width: 100%;
		line-height: 60px;
		background-color: beige;
		text-align: center;
	}

	&__img {
		max-width: 100%;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	&__description-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__description {
		position:relative;
		padding-bottom:26px;
		text-align: center;
	}

	&__price {
		width: 100%;
		height: 6px;
		text-align: center;
	}
}

.block-catalouge {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}