.card {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 20px;
	padding: 20px;
	width: 230px;
	height: 370px;
	background-color: white;
	border-radius: 5px;

	&:hover {
		box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .05);
	}

	&__title {
		margin: 0;
		height: 60px;
		width: 100%;
		line-height: 60px;
		text-align: center;
	}

	&__img {
		max-width: 100%;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	// &__to-favorite {
	// 	&:hover {
	// 		&::after {
	// 			content: '';
	// 			display: block;
	// 			transform: translate(-50%, -50%);
	// 			transition: .2s;
	// 			position: absolute;
	// 			top: 53%;
	// 			left: 50%;
	// 			width: 20px;
	// 			height: 20px;
	// 			background-image: url(/image/responsive/svg/icon-favorite-default.svg);
	// 			background-size: contain;
	// 			background-position: center;
	// 			background-repeat: no-repeat;
	// 		}
	// 	}
	// }

	&__to-favorite {
		position: absolute;
		right: 24px;
		top: 24px;
	}

	&__description-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__description {
		position:relative;
		padding-bottom:26px;
		text-align: center;
	}

	&__price {
		width: 100%;
		text-align: center;
	}

	&__to-basket {
		padding: 6px 20px;
		font-family: "Roboto";
		font-size: 18px;
	}
}

.block-catalouge {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}